- model_class = Aircraft
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:manufacturer)
      %th= model_class.human_attribute_name(:model)
      %th= model_class.human_attribute_name(:capacity)
      %th= model_class.human_attribute_name(:airline)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - aircrafts.each do |aircraft|
      %tr
        %td= aircraft.manufacturer
        %td= aircraft.model
        %td= aircraft.capacity
        %td= aircraft.airline.name
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_aircraft_path(aircraft), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), aircraft_path(aircraft), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_aircraft_path, :class => 'btn btn-primary'
