- model_class = Aircraft
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
%p
  %strong= model_class.human_attribute_name(:manufacturer) + ':'
  %br
  = aircraft.manufacturer
%p
  %strong= model_class.human_attribute_name(:model) + ':'
  %br
  = aircraft.model
%p
  %strong= model_class.human_attribute_name(:capacity) + ':'
  %br
  = aircraft.capacity
%p
  %strong= model_class.human_attribute_name(:airline) + ':'
  %br
  = aircraft.airline.name


= link_to t('.back', :default => t("helpers.links.back")), aircrafts_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_aircraft_path(aircraft), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), aircraft_path(aircraft), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
