- model_class = Flight
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped.w-100
  %thead
    %tr
      %th= model_class.human_attribute_name(:flight_number)
      %th= model_class.human_attribute_name(:from)
      %th= model_class.human_attribute_name(:destination)
      %th= model_class.human_attribute_name(:departure)
      %th= model_class.human_attribute_name(:arrival)
      %th= model_class.human_attribute_name(:arrival_gate)
      %th= model_class.human_attribute_name(:departure_gate)
      - if user_signed_in?
        %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - flights.each do |flight|
      %tr
        %td= flight.formatted_number
        %td= flight.from.name
        %td= flight.destination.name
        %td= flight.departure
        %td= flight.arrival
        %td= flight.arrival? ? flight.gate.formatted_gate_index : '-'
        %td= flight.departure? ? flight.gate.formatted_gate_index : '-'
        - if user_signed_in?
          %td
            = link_to t('.book'), user_bookings_path(current_user, booking: { flight_id: flight.id }), method: :post, class: 'btn btn-success btn-xs'
            - if current_user.admin?
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_flight_path(flight), :class => 'btn btn-default btn-xs'
              = link_to t('.destroy', :default => t("helpers.links.destroy")), flight_path(flight), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

- if current_user&.admin? && !request.xhr?
  = link_to t('.new', :default => t("helpers.links.new")), new_flight_path, :class => 'btn btn-primary'
