= simple_form_for user do |form|
  = form.input :first_name
  = form.input :last_name
  = form.input :email
  = form.input :password
  = form.button :submit, class: "btn btn-large btn-primary", "data-disable-with" => "Submitting.."
