- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped.table-responsive
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:first_name)
      %th= model_class.human_attribute_name(:last_name)
      %th= model_class.human_attribute_name(:email)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - users.each do |user|
      %tr
        %td= link_to user.id, user_path(user)
        %td= link_to user.first_name, user_path(user)
        %td= link_to user.last_name, user_path(user)
        %td= user.email
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
          - if current_user&.admin?
            - if user.admin?
              = link_to t('.make_user'), user_admins_path(user), :method => "delete", :class => 'btn btn-xs btn-success'
            - else
              = link_to t('.make_admin'), user_admins_path(user), :method => "post", :class => 'btn btn-xs btn-danger'
