- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = user.first_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = user.last_name
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = user.email

= link_to t('.back', :default => t("helpers.links.back")), users_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
