- model_class = Booking
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
%p
  %strong= model_class.human_attribute_name(:user) + ':'
  %br
  = booking.user.full_name
%p
  %strong= model_class.human_attribute_name(:flight) + ':'
  %br
  = booking.flight.formatted_number
%p
  %strong= model_class.human_attribute_name(:checked_in) + ':'
  %br
  = booking.checked_in
%p
  %strong= model_class.human_attribute_name(:seat_number) + ':'
  %br
  = booking.seat_number

= link_to t('.back', :default => t("helpers.links.back")), user_bookings_path(user), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), user_booking_path(user, booking), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
