- model_class = Airport
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = airport.name
%p
  %strong= model_class.human_attribute_name(:icao) + ':'
  %br
  = airport.icao
%p
  %strong= model_class.human_attribute_name(:iata) + ':'
  %br
  = airport.iata
%p
  %strong= model_class.human_attribute_name(:country) + ':'
  %br
  = airport.country

= link_to t('.back', :default => t("helpers.links.back")), airports_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_airport_path(airport), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), airport_path(airport), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
