- model_class = Airline
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped.w-100
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:shortened)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - airlines.each do |airline|
      %tr
        %td= airline.name
        %td= airline.shortened
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_airline_path(airline), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), airline_path(airline), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_airline_path, :class => 'btn btn-primary'
