- model_class = Airline
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = airline.name
%p
  %strong= model_class.human_attribute_name(:shortened) + ':'
  %br
  = airline.shortened

= link_to t('.back', :default => t("helpers.links.back")), airlines_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_airline_path(airline), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), airline_path(airline), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
