%ul.nav.navbar-nav.pull-right
  - if user_signed_in?
    %li= link_to t(:title, scope: %i[users bookings]), user_bookings_path(current_user)
    %li= link_to t(:edit_profile, scope: :users), edit_user_registration_path
    %li= link_to t(:logout, scope: :users), destroy_user_session_path, method: :delete
  - else
    %li= link_to t(:sign_up, scope: :users), new_user_registration_path
    %li= link_to t(:login, scope: :users), new_user_session_path
